{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
    <h1 class="text-center">Welcome, {{ user.username }}</h1>

    <h2 class="mt-4">Order History</h2>
    {% if orders %}
        <table class="table table-bordered table-striped mt-3">
            <thead class="thead-dark">
                <tr>
                    <th>Order ID</th>
                    <th>Date</th>
                    <th>Total Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.created_at|date:"F j, Y, g:i a" }}</td>
                    <td>${{ order.total_cost }}</td>
                    <td>
                        <a href="{% url 'order_detail' order.id %}" class="btn btn-primary btn-sm">View Details</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="alert alert-info">You have no orders yet.</p>
    {% endif %}
</div>

{% endblock %}
